# Keycloak Variables
GATEWAY_URL = "http://<GATEWAY_IP>:10000"
KEYCLOAK_URL = "http://<GATEWAY_IP>:8080"
KEYCLOAK_REALM = "hospital"
KEYCLOAK_CLIENT_ID = "fastapi-app"
KEYCLOAK_CLIENT_SECRET = "<CLIENT_SECRET>""

# Pi Variables
PI_SSH_HOST = "<GATEWAY_IP>"           
PI_SSH_USER = "<SSH_USER>"
PI_SSH_PASSWORD = "<SSH_PASSWORD>"     
PI_OVERRIDES_PATH = "/home/gateway/gateway-pi/overrides.json"

# File Paths 
CREDENTIALS_FILE = "credentials.json"
PATIENT_NAMES_FILE = "patient_names.txt"
SHIFTS = "shifts.json"
LOG_FILE = "simulation.log"

# OPA Variables
OPA_URL = "http://192.168.1.144:8181"